{% extends "base.html" %}
{% block main-body %}
<div class="container" >
    <div class="row" style="text-align: center">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <div class="login-form">
{#            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">#}
            <form method="post" action="">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

            <div class="btn-group">
                <button type="submit" class="btn btn-primary">登录</button>
                <a href="{% url "user_register_view" %}" class="btn btn-success">注册</a>
            </div>
            <input type="hidden" name="next" value="/" />
        {#<input type="submit" value="login" />#}
        {#<input type="hidden" name="next" value="{{ next }}" />#}
            </form>
        </div>
    </div>
</div>
{% endblock %}